* {box-sizing: border-box;}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto !important;
}

main {
  margin: 0;
  padding: 0;
}

a { 
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}