header {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-item {
  margin: 0;
  padding: 20px;
  flex: 25%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
