// component colors 

.btn-purple {background-color: #708ac7;}
// .btn-brown:hover {background-color: #f2cf70;}

.btn-orange {background-color: #fc9550;}
// .btn-orange:hover {background-color: #f26d66;}

.btn-blue {background-color: #76B2D7;}
// .btn-blue:hover {background-color: #5ba94b;}

.btn-red {background-color: #DD544E;}
// .btn-red:hover {background-color: #bbde62;}

.btn-teal {background-color: #209fb6;}
// .btn-teal:hover {background-color: #708ac7;}

.btn-yellow-green {background-color: #bbde62;}
// .btn-yellow-green:hover {background-color: #209fb6;}

.btn-forest {background-color: #5ba94b;}
// .btn-forest:hover {background-color: #fc9550;}

.btn-pink {background-color: #f26d66;}
// .btn-pink:hover {background-color: #7cb770;}

.btn-yellow {background-color: #f2cf70;}
// .btn-yellow:hover {background-color: #DD544E;}


// background colors 
.bkg-purple {background-color: #708ac7;}
.bkg-orange {background-color: #fc9550;}
.bkg-blue {background-color: #76B2D7;}
.bkg-red {background-color: #DD544E;}
.bkg-teal {background-color: #209fb6;}
.bkg-yellow-green {background-color: #bbde62;}
.bkg-forest {background-color: #5ba94b;}
.bkg-pink {background-color: #f26d66;}
.bkg-yellow {background-color: #f2cf70;}
